<!DOCTYPE html>
<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
  <div id="container">
	<ul class="pager">
		<li class="previous"><a href="/">Home</a></li>
	</ul>
    <h3>Data Sheet</h3>
    <form autocomplete="off" method="POST" action="">
      {% csrf_token %}
      <table class="table table-bordered">
        <tr><td>Date(mm/dd/yyyy):
				{% if BasicForm.date.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{BasicForm.date.errors.as_text}}'>Error</a> 
				{% endif %}
				{{BasicForm.date}}</td> 
			<td>Site Name: 
				{% if BasicForm.site_name.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{BasicForm.site_name.errors.as_text}}'>Error</a> 
				{% endif %}
				{{BasicForm.site_name}}</td>
		</tr>
		<tr><td># Observers: 
				{% if BasicForm.number_of_observers.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{BasicForm.number_of_observers.errors.as_text}}'>Error</a> 
				{% endif %}
				{{BasicForm.number_of_observers}}</td> 
			<td>Observers: 
				{% if BasicForm.observers.errors %}
						<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{BasicForm.observers.errors.as_text}}'>Error</a> 
				{% endif %}
				{{BasicForm.observers}}</td>
		</tr>
      </table>
	  <table class="table table-bordered">
		<thead><tr><th><h5>Exploration Time:</h5></th></tr></thead>
		<tr>
			<td>Start: 
				{% if ExplorationForm.start.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ExplorationForm.start.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{ExplorationForm.start}}</td>
			<td>End: 
				{% if ExplorationForm.end.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ExplorationForm.end.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{ExplorationForm.end}}</td>
		</tr>
		<tr>
			<td colspan="2">Total (min): 
			{% if ExplorationForm.exploration_total.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ExplorationForm.exploration_total.errors.as_text}}'>Error</a> 
			{% endif %}
			</br> {{ExplorationForm.exploration_total}}</td>
        </tr>
      </table>
	  <table class="table table-bordered">
		<thead><tr><th colspan="2"><h5>Butterflies observed during exploration (Enter #)</h5></th></tr></thead>
		<tr><td>Loners: 
				{% if ObservedForm.loners.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ObservedForm.loners.errors.as_text}}'>Error</a> 
				{% endif %}
				{{ObservedForm.loners}}</td>
			<td>Grounders: 
				{% if ObservedForm.grounders.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ObservedForm.grounders.errors.as_text}}'>Error</a> 
				{% endif %}
				{{ObservedForm.grounders}}</td>
		</tr>
		<tr><td>Sunners: 
				{% if ObservedForm.sunners.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ObservedForm.sunners.errors.as_text}}'>Error</a> 
				{% endif %}
				{{ObservedForm.sunners}}</td>
			<td>Dead: 
				{% if ObservedForm.dead.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ObservedForm.dead.errors.as_text}}'>Error</a> 
				{% endif %}
				<br/>{{ObservedForm.dead}}</td>
		</tr>
		<tr><td>Fliers: 
				{% if ObservedForm.fliers.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ObservedForm.fliers.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{ObservedForm.fliers}}</td>
			<td>Mating:
				{% if ObservedForm.mating.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ObservedForm.mating.errors.as_text}}'>Error</a> 
				{% endif %}
				<br/>{{ObservedForm.mating}}</td>
		</tr>
		<tr><td colspan="2">Total outside of cluster:  
				{% if ObservedForm.observed_total.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ObservedForm.observed_total.errors.as_text}}'>Error</a> 
				{% endif %}
				{{ObservedForm.observed_total}}</td>
		</tr>
      </table>
	  <table class="table table-bordered">
		<thead><tr><th colspan="2"><h5>Weather</h5></th></tr></thead>
		<tr><td>Sky %: 
				{% if WeatherForm.skypercentage.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{WeatherForm.skypercentage.errors.as_text}}'>Error</a> 
				{% endif %}
				</br>{{WeatherForm.skypercentage}}</td>
			<td>BFT
				{% if WeatherForm.bft.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{WeatherForm.bft.errors.as_text}}'>Error</a> 
				{% endif %}
				{{WeatherForm.BFT}}</td>
		</tr>
		<tr><td>Precipitation: 
				{% if WeatherForm.precip.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{WeatherForm.precip.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{WeatherForm.precip}}</td>
			<td>Wind (km/hr): 
				{% if WeatherForm.wind.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{WeatherForm.wind.errors.as_text}}'>Error</a> 
				{% endif %}
				<br/>{{WeatherForm.wind}}</td>
		</tr>
		<tr><td>Wind Direction: 
				{% if WeatherForm.winddirection.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{WeatherForm.winddirection.errors.as_text}}'>Error</a> 
				{% endif %}
				{{WeatherForm.winddirection}}</td>
			<td>Temperature (&deg;C):
				{% if WeatherForm.temp.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{WeatherForm.temp.errors.as_text}}'>Error</a> 
				{% endif %}
				<br/>{{WeatherForm.temp}}</td>
		</tr>
      </table>
	  <table class="table table-bordered">
        <thead><tr><th><h5>Count Time:</h5></th></tr></thead>
		<tr>
			<td>Start: 
				{% if CountForm.start.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{CountForm.start.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{CountForm.start}}</td>
			<td>End: 
				{% if CountForm.end.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{CountForm.end.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{CountForm.end}}</td>
		</tr>
		<tr>
			<td colspan="2">Total (min):
				{% if CountForm.count_total.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{CountForm.count_total.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{CountForm.count_total}}</td>
        </tr>
      </table>
	  <table class="table table-bordered">
        <thead><tr><th><h5>Notes:</h5></th></tr></thead>
		<tr>
			<td>Water Sources: 
				{% if NotesForm.waterSource.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{NotesForm.waterSource.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{NotesForm.waterSource}}</td>
			<td>Notes
				{% if NotesForm.waterNotes.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{NotesForm.waterNotes.errors.as_text}}'>Error</a> 
				{% endif %}
				</br>{{NotesForm.waterNotes}}</td>
		</tr>
		<tr>
			<td>Nectar Sources: 
				{% if NotesForm.nectarSource.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{NotesForm.nectarSource.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{NotesForm.nectarSource}}</td>
			<td>Notes
				{% if NotesForm.nectarNotes.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{NotesForm.nectarNotes.errors.as_text}}'>Error</a> 
				{% endif %}
				</br>{{NotesForm.nectarNotes}}</td>
		</tr>
		<tr>
			<td colspan="2">Additional Notes:
				{% if NotesForm.additionalNotes.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{CountForm.additionalNotes.errors.as_text}}'>Error</a> 
				{% endif %}
				</br> {{NotesForm.additionalNotes}}</td>
        </tr>
      </table>
      <button class="btn btn-primary" name="addDonor" type="submit">Next</button>
      {% if error %}
        <span id="errorMessage" class="label label-important">{{ error }}</span><br />
      {% endif %}
    </form>
    </table>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap-tooltip.js' %}"></script>
	<script type="text/javascript">
		$(function () {
			$("[data-toggle='tooltip']").tooltip();
		});
	</script>
  </div>
  </body>
</html>
