<!DOCTYPE html>
<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
  </head>
  <body>
  <div id="container">
    <h3>Cluster Information</h3>
	{% if ClusterForm %}
      <form autocomplete="off" method="POST" action="">
        {% csrf_token %}
        <table>
			<tr><td>Monarchs Clustered:</td>
				<td>{{ClusterForm.number_Clustered}}
				{% if ClusterForm.number_Clustered.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ClusterForm.number_Clustered.errors.as_text}}'>Error</a> 
				{% endif %}
				</td>
			</tr>
			<tr><td>Tagged in Cluster:</td>
				<td> {{ClusterForm.number_tagged}}
				{% if ClusterForm.number_tagged.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ClusterForm.number_tagged.errors.as_text}}'>Error</a> 
				{% endif %}
				</td>
			</tr>
			<tr><td>Tree Species:</td>
				<td> {{ClusterForm.tree_species}}
				{% if ClusterForm.tree_species.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ClusterForm.tree_species.errors.as_text}}'>Error</a> 
				{% endif %}
				</td>
			</tr>
			<tr><td>Tree ID:</td>
				<td> {{ClusterForm.tree_ID}}
				{% if ClusterForm.tree_ID.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ClusterForm.number_of_trees.errors.as_text}}'>Error</a> 
				{% endif %}
				</td>
			</tr>
			<tr><td>Cluster Aspect(degrees):</td>
				<td> {{ClusterForm.aspect}}
				{% if ClusterForm.aspect.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ClusterForm.aspect.errors.as_text}}'>Error</a> 
				{% endif %}
				</td>
			</tr>
			<tr><td>Cluster Height(m):</td>
				<td> {{ClusterForm.height}}
				{% if ClusterForm.height.errors %}
					<a href='#' data-toggle='tooltip' data-placement='right' title data-original-title='{{ClusterForm.height.errors.as_text}}'>Error</a> 
				{% endif %}
				</td>
			</tr>
        </table>
        <button class="btn btn-primary" name="add" type="submit">Add</button>
        {% if error %}
          <span id="errorMessage" class="label label-important">{{ error }}</span><br />
        {% endif %}
      </form>
	{% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Monarch Clustered</th>
          <th>Tagged in Cluster</th>
		  <th>Tree Species </th>
		  <th>Number of Trees</th>
		  <th>Cluster Aspect (degrees)</th>
		  <th>Cluster Height (meters)</th>
        </tr>
      </thead>
      <tbody>
        {% for item in clusters %}
          <tr>
            <td>{{ item.number_Clustered }}</td>
            <td>{{ item.number_tagged }}</td>
            <td>{{ item.tree_species }}</td>
			<td>{{ item.number_of_trees }}</td>
			<td>{{ item.aspect }}%</td>
			<td>{{ item.height }}m</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	{% if Flowers %}
		<ul class="pager">
			<li class="previous"><a href="?id={{ request.GET.id }}&done=true&flower=true">Next</a></li>
		</ul>
	{% else %}
		<ul class="pager">
			<li class="previous"><a href="/datasheet/">Finish</a></li>
		</ul>
	{% endif %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap-tooltip.js' %}"></script>
	<script type="text/javascript">
		$(function () {
			$("[data-toggle='tooltip']").tooltip();
		});
	</script>
  </div>
  </body>
</html>
