{% load staticfiles %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
</head>
<body id="container">
  <form action="{{ action }}" method="post">
  {% csrf_token %}
  {% if questions %}
    <h3>Please answer the following questions to allow us to generate a database for you.</h3>
    <ul class="unstyled">
      {% for question in questions %}
		    {% if number == question.id %}
          <li>{{ question.question }}<br />
          {% if radio %}
            <input id="radio" type="radio" name="{{ question.id }}" value="1">&nbsp;Yes
            <input id="radio" type="radio" name="{{ question.id }}" value="0" checked>&nbsp;No
          {% elif numberInput %}
            <input id="inputField" type="number" name="{{ question.id }}" min="1" max="20" />
          {% endif %}
          </li>
		    {% else %}
			    <input type="hidden" name="{{ question.id }}" value="0" />
		    {% endif %}
      {% endfor %}
    </ul>
  {% elif numOfFields %}
    <h3>Please fill out each name and field type.</h3>
    <ol>
      {% for index in numOfFields %}
      <li>
        Name: <input id="inputField" type="text" name="text{{ index }}" />
        Type:
        <select id="inputField">
          <option value="Integer">Integer</option>
          <option value="Real">Real</option>
          <option value="Text">Text</option>
          <option value="Blob">Blob</option>
        </select>
        <br />
      </li>
    {% endfor %}
    </ol>
  {% else %}
    <h3>Sorry, we have not added any questions.</h3>
  {% endif %}
  <input type="hidden" name="number" value="{{ number }}" />
  <button class="btn btn-primary" type="submit">Submit</button>
  {% if error %}
    <span class="label label-important">{{ error }}</span>
  {% endif %}
  </form>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "bootstrap.min.js" %}"></script>
</body>
