<!DOCTYPE html>
<html>
  {% load staticfiles %}
  <head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
  </head>
  <body style='background: #F8FBF4;'>
		{% if flowers %}
			<table class="table table-striped">
				<thead>
				<tr><th>Flower</th><th># of Eaten</th>
				</thead>
				{% for flower in flowers %}
				<tr><td>{{flower.flower}}</td><td>{{flower.eating}}</td></tr>
				{% endfor %}
			</table>
		{% endif %}
		{% if clusters %}
			<table class="table table-striped">
				<thead><tr><th># Clustered</th><th># Tagged</th><th>Tree Species</th><th>Aspect</th><th>Height</th></thead>
				{% for cluster in clusters %}
					<tr>
						<td>{{cluster.number_Clustered}}</td>
						<td>{{cluster.number_tagged}}</td>
						<td>{{cluster.tree_species}} ({{cluster.number_of_trees}})</td>
						<td>{{cluster.aspect}}</td>
						<td>{{cluster.height}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
  </body>
</html>
