<!DOCTYPE html>
<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
  </head>
  <body id="loginContainer">
	<h2> Hello, {{ user }} </h2>
	{% if donor %}
	<form class="form-signin" action="/donor/" method="post">
	  {% csrf_token %}
	  Access your
	  <button class="btn btn-primary" name="donor" type="submit" >Donor Database</button>
	</form>
	{% endif %}
	<form class="form-signin" action="../logout/" method="post">
	  {% csrf_token %}
	  <button class="btn btn-primary" name="logout" type="submit" >logout</button>
	</form>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
  </body>
</html>
