<!DOCTYPE html>
<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
  </head>
  <body>
  <div id="container">
    <form autocomplete="off" class="form-signin" action="" method="post">
      {% csrf_token %}
      <h3 class="form-signin-heading">Please register</h3>
      <input id="email" type="email" class="input-block-level" name="email" placeholder="Email address" value="{{email}}">
      <input type="password" class="input-block-level" name="password" placeholder="Password"> 
      <input type="password" class="input-block-level" name="confirmPassword" placeholder="Confirm password">
      <input type="text" class="input-block-level" name="firstName" placeholder="First name" value="{{firstName}}">
      <input type="text" class="input-block-level" name="lastName" placeholder="Last name" value="{{lastName}}">
	  {% if code %}
	  <input type="text" class="input-block-level" name="accessCode" placeholder="Access Code" value="{{code}}">
	  {% else %}
	  <input type="text" class="input-block-level" name="accessCode" placeholder="Access Code">
	  {% endif %}
      <button class="btn btn-primary" name="createAccount" type="submit">Register</button>
	  <input type="button" class="btn btn-primary" value="Back" onclick="location.href='/';">
      {% if error %}
        <span class="label label-important">{{ error }}</span>
      {% endif %}
    </form>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
  </div>
  </body>
</html>
