html {
  background: #edeae1;
}

#container {
  width: 800px;
  margin: 0px auto;
  padding: 25px 40px;
  background: white;
}

#submit {
  position: fixed;
  right: 50%;
}

#radio {
  margin: 0px;
}

#inputField {
  height: 30px;
  margin-top: 10px;
}
