html {
  background: #edeae1;
}

#container {
  width: 550px;
  margin: 0px auto;
  padding: 25px 40px;
  background: white;
}

#loginContainer {
  width: 400px;
  margin: 5% auto 0 auto;
  padding: 25px 40px;
  background: white;
}

#submit {
  position: fixed;
  right: 50%;
}

#radio {
  margin: 0px;
}

#inputField {
  height: 30px;
  margin-top: 10px;
}

#errorMessage {
  margin-bottom: 10px;
}

#registerButton {
  position: relative;
  left: 80px;
  top: -50px;
}
