<!DOCTYPE html>
<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
  </head>
  <body>
  <div id="container">
    <h3>Flower information</h3>
	{% if FlowerForm %}
      <form autocomplete="off" method="POST" action="">
        {% csrf_token %}
        <table>
			{{ FlowerForm.as_table }}
        </table>
        <button class="btn btn-primary" name="add" type="submit">Submit</button>
        {% if error %}
          <span id="errorMessage" class="label label-important">{{ error }}</span><br />
        {% endif %}
      </form>
	{% endif %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap-tooltip.js' %}"></script>
	<script type="text/javascript">
		$(function () {
			$("[data-toggle='tooltip']").tooltip();
		});
	</script>
  </div>	
  </body>
</html>
